html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url("images/hanabi.jpg");
  background-size: cover;        /* 画面いっぱいに広げる */
  background-position: center;   /* 中央に配置 */
  background-repeat: no-repeat;  /* 繰り返さない */
}