body {
  text-align: center;
  font-family: sans-serif;
  background-color: #111;
  color: white;
}

button {
  padding: 15px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

a {
  color: lightblue;
}
