body {
  background-image: url("hanabi.jpg");
  background-size: cover;   
  background-position: center;   
  background-repeat: no-repeat;  

  color: white;
  text-align: center;
  font-family: sans-serif;
}